Company/Source/Printing/Services/PrintingServiceJetForm/Resources/xmlReportRequest.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="PolicyPrinting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintProccesid" type="xs:string" />
        <xs:element minOccurs="0" name="TypeReport" type="xs:string" />
        <xs:element minOccurs="0" name="PolicyId" type="xs:string" />
        <xs:element minOccurs="0" name="EndorsementId" type="xs:string" />
        <xs:element minOccurs="0" name="QuotationId" type="xs:string" />
        <xs:element minOccurs="0" name="User" type="xs:string" />
        <xs:element minOccurs="0" name="CodeBar" type="xs:string" />
        <xs:element minOccurs="0" name="TempNum" type="xs:string" />
        <xs:element minOccurs="0" name="PrefixNum" type="xs:string" />
        <xs:element minOccurs="0" name="RangeMinValue" type="xs:string" />
        <xs:element minOccurs="0" name="RangeMaxValue" type="xs:string" />
        <xs:element minOccurs="0" name="WithFormatCollect" type="xs:string" />
        <xs:element minOccurs="0" name="IsAsynchronousProcess" type="xs:string" />
        <xs:element minOccurs="0" name="IdPv" type="xs:string" />
        <xs:element minOccurs="0" name="PrintFromCurrentFromDate" type="xs:string" />
        <xs:element minOccurs="0" name="BalancePremium" type="xs:string" />
        <xs:element minOccurs="0" name="LicensePlate" type="xs:string" />
        <xs:element minOccurs="0" name="ShowPremium" type="xs:string" />
        <xs:element minOccurs="0" name="CopiesQuantity" type="xs:string" />
        <xs:element minOccurs="0" name="EndorsementText" type="xs:string" />
        <xs:element minOccurs="0" name="TempAuthorization" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GroupRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestId" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigratedPolicies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IntermediaryId" type="xs:string" />
		    <xs:element minOccurs="0" name="BranchId" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessFromDate" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessToDate" type="xs:string" />
        <xs:element minOccurs="0" name="ExportToExcel" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingPrintData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsyncProcessId" type="xs:string" />
        <xs:element minOccurs="0" name="PrintProcessId" type="xs:string" />
        <xs:element minOccurs="0" name="FileName" type="xs:string" />
        <xs:element minOccurs="0" name="FilePath" type="xs:string" />
        <xs:element minOccurs="0" name="FileSize" type="xs:string" />
        <xs:element minOccurs="0" name="RangeMinValue" type="xs:string" />
        <xs:element minOccurs="0" name="RangeMaxValue" type="xs:string" />
        <xs:element minOccurs="0" name="DocTypeDescription" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
