Company/Source/FullWebServices/Services/FullServices/Models/XSD/Response/ResponseSearch.xsd

<schema
  xmlns="http://www.w3.org/2001/XMLSchema"    
  xmlns:Req='uri:ace-ina.com:schemas:response'
	targetNamespace = 'uri:ace-ina.com:schemas:response'
	elementFormDefault='qualified'>


  <complexType name="ResponseSearch">
    <sequence>
      <element name="Identity" type="int" />
      <element name="idRol" type="int" nillable="true"  />
      <element name="Rol" type="string" />
      <element name="Codigo" type="string"  />
      <element name="IdPersona" type="int" nillable="true" />
      <element name="TipoDoc" type="string" />
      <element name="Documento" type="string" />
      <element name="NombreRS" type="string" />
      <element name="TipoPersona" type="string" />
      <element name="CodAbona" type="int" nillable="true" />
      <element name="CodTipoDoc" type="int" nillable="true" />
      <element name="Activo" type="string" />
      <element name="Message" type="string" />
      <element name="Apellido1" type="string" />
      <element name="Apellido2" type="string" />
      <element name="Nombre" type="string" />
      <element name="CodigoCiiu" type="string" />
      <element name="ID_user" type="string" />
    </sequence>
  </complexType>


</schema>