Company/Source/SISE3GApi/SISE3GApi/Connected Services/WrapperAuthoPoliciesService/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UpdateCollectiveLoadAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="loadId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="temporalId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="risks" type="tns:ArrayOfInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfInt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateCollectiveLoadAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CompanyUpdateMassiveLoadAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="loadId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="temporalId" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyUpdateMassiveLoadAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreatePolicyAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="TemporalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePolicyAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateClaimAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="claimTemporalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaimAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreatePaymentRequestAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="paymentRequestTemporalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePaymentRequestAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateChargeRequestAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="chargeRequestTemporalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChargeRequestAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateClaimNoticeAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="claimNoticeTemporalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaimNoticeAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreatePersonAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePersonAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateInsuredAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInsuredAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateProviderAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProviderAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateAgentAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAgentAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateReInsurerAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReInsurerAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateQuotaAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuotaAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateTaxAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTaxAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateCoInsuredAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCoInsuredAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateThirdAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateThirdAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateEmployedAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmployedAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreatePersonalInformationAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePersonalInformationAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreatePaymentMethodsAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePaymentMethodsAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateBankTransfersAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBankTransfersAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateConsortiatesAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConsortiatesAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateBusinessNameAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBusinessNameAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateGuaranteeAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGuaranteeAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateSarlaftAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSarlaftAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateBasicInfoAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBasicInfoAuthorizationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateAutomaticQuotaAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAutomaticQuotaAuthorizationResponse">
    <xs:complexType />
  </xs:element>
</xs:schema>