Company/Source/SISE3GApi/SISE3GApi/Connected Services/WrapperAuthoPoliciesService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WrapperAuthorizationPoliciesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_UpdateCollectiveLoadAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCollectiveLoadAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_UpdateCollectiveLoadAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCollectiveLoadAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CompanyUpdateMassiveLoadAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyUpdateMassiveLoadAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CompanyUpdateMassiveLoadAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyUpdateMassiveLoadAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreatePolicyAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePolicyAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreatePolicyAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePolicyAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateClaimAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateClaimAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateClaimAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateClaimAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreatePaymentRequestAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentRequestAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreatePaymentRequestAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentRequestAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateChargeRequestAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateChargeRequestAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateChargeRequestAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateChargeRequestAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateClaimNoticeAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateClaimNoticeAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateClaimNoticeAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateClaimNoticeAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreatePersonAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePersonAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreatePersonAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePersonAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateInsuredAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateInsuredAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateInsuredAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateInsuredAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateProviderAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProviderAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateProviderAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProviderAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateAgentAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAgentAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateAgentAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAgentAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateReInsurerAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReInsurerAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateReInsurerAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReInsurerAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateQuotaAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuotaAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateQuotaAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuotaAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateTaxAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTaxAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateTaxAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTaxAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateCoInsuredAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCoInsuredAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateCoInsuredAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCoInsuredAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateThirdAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateThirdAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateThirdAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateThirdAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateEmployedAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployedAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateEmployedAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployedAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreatePersonalInformationAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePersonalInformationAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreatePersonalInformationAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePersonalInformationAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreatePaymentMethodsAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentMethodsAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreatePaymentMethodsAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentMethodsAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateBankTransfersAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBankTransfersAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateBankTransfersAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBankTransfersAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateConsortiatesAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateConsortiatesAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateConsortiatesAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateConsortiatesAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateBusinessNameAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBusinessNameAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateBusinessNameAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBusinessNameAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateGuaranteeAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGuaranteeAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateGuaranteeAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGuaranteeAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateSarlaftAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSarlaftAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateSarlaftAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSarlaftAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateBasicInfoAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBasicInfoAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateBasicInfoAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBasicInfoAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateAutomaticQuotaAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAutomaticQuotaAuthorization" />
  </wsdl:message>
  <wsdl:message name="IWrapperAuthorizationPoliciesService_CreateAutomaticQuotaAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAutomaticQuotaAuthorizationResponse" />
  </wsdl:message>
  <wsdl:portType name="IWrapperAuthorizationPoliciesService">
    <wsdl:operation name="UpdateCollectiveLoadAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/UpdateCollectiveLoadAuthorization" message="tns:IWrapperAuthorizationPoliciesService_UpdateCollectiveLoadAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/UpdateCollectiveLoadAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_UpdateCollectiveLoadAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompanyUpdateMassiveLoadAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CompanyUpdateMassiveLoadAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CompanyUpdateMassiveLoadAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CompanyUpdateMassiveLoadAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CompanyUpdateMassiveLoadAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePolicyAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePolicyAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreatePolicyAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePolicyAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreatePolicyAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateClaimAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateClaimAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateClaimAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateClaimAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateClaimAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePaymentRequestAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePaymentRequestAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreatePaymentRequestAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePaymentRequestAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreatePaymentRequestAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateChargeRequestAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateChargeRequestAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateChargeRequestAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateChargeRequestAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateChargeRequestAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateClaimNoticeAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateClaimNoticeAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateClaimNoticeAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateClaimNoticeAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateClaimNoticeAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePersonAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePersonAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreatePersonAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePersonAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreatePersonAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateInsuredAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateInsuredAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateInsuredAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateInsuredAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateInsuredAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProviderAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateProviderAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateProviderAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateProviderAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateProviderAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAgentAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateAgentAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateAgentAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateAgentAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateAgentAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateReInsurerAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateReInsurerAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateReInsurerAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateReInsurerAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateReInsurerAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateQuotaAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateQuotaAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateQuotaAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateQuotaAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateQuotaAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTaxAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateTaxAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateTaxAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateTaxAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateTaxAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCoInsuredAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateCoInsuredAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateCoInsuredAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateCoInsuredAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateCoInsuredAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateThirdAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateThirdAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateThirdAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateThirdAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateThirdAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmployedAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateEmployedAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateEmployedAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateEmployedAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateEmployedAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePersonalInformationAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePersonalInformationAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreatePersonalInformationAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePersonalInformationAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreatePersonalInformationAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePaymentMethodsAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePaymentMethodsAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreatePaymentMethodsAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePaymentMethodsAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreatePaymentMethodsAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBankTransfersAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateBankTransfersAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateBankTransfersAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateBankTransfersAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateBankTransfersAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateConsortiatesAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateConsortiatesAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateConsortiatesAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateConsortiatesAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateConsortiatesAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBusinessNameAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateBusinessNameAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateBusinessNameAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateBusinessNameAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateBusinessNameAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGuaranteeAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateGuaranteeAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateGuaranteeAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateGuaranteeAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateGuaranteeAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSarlaftAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateSarlaftAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateSarlaftAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateSarlaftAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateSarlaftAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBasicInfoAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateBasicInfoAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateBasicInfoAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateBasicInfoAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateBasicInfoAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAutomaticQuotaAuthorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateAutomaticQuotaAuthorization" message="tns:IWrapperAuthorizationPoliciesService_CreateAutomaticQuotaAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateAutomaticQuotaAuthorizationResponse" message="tns:IWrapperAuthorizationPoliciesService_CreateAutomaticQuotaAuthorization_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicEndpoint" type="tns:IWrapperAuthorizationPoliciesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateCollectiveLoadAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/UpdateCollectiveLoadAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyUpdateMassiveLoadAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CompanyUpdateMassiveLoadAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePolicyAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePolicyAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateClaimAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateClaimAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePaymentRequestAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePaymentRequestAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateChargeRequestAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateChargeRequestAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateClaimNoticeAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateClaimNoticeAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePersonAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePersonAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateInsuredAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateInsuredAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProviderAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateProviderAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAgentAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateAgentAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReInsurerAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateReInsurerAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateQuotaAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateQuotaAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTaxAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateTaxAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCoInsuredAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateCoInsuredAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateThirdAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateThirdAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmployedAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateEmployedAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePersonalInformationAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePersonalInformationAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePaymentMethodsAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePaymentMethodsAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBankTransfersAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateBankTransfersAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateConsortiatesAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateConsortiatesAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBusinessNameAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateBusinessNameAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGuaranteeAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateGuaranteeAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSarlaftAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateSarlaftAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBasicInfoAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateBasicInfoAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAutomaticQuotaAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateAutomaticQuotaAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IWrapperAuthorizationPoliciesService" type="tns:IWrapperAuthorizationPoliciesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateCollectiveLoadAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/UpdateCollectiveLoadAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyUpdateMassiveLoadAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CompanyUpdateMassiveLoadAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePolicyAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePolicyAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateClaimAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateClaimAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePaymentRequestAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePaymentRequestAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateChargeRequestAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateChargeRequestAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateClaimNoticeAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateClaimNoticeAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePersonAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePersonAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateInsuredAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateInsuredAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProviderAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateProviderAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAgentAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateAgentAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReInsurerAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateReInsurerAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateQuotaAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateQuotaAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTaxAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateTaxAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCoInsuredAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateCoInsuredAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateThirdAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateThirdAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmployedAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateEmployedAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePersonalInformationAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePersonalInformationAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePaymentMethodsAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreatePaymentMethodsAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBankTransfersAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateBankTransfersAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateConsortiatesAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateConsortiatesAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBusinessNameAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateBusinessNameAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGuaranteeAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateGuaranteeAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSarlaftAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateSarlaftAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBasicInfoAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateBasicInfoAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAutomaticQuotaAuthorization">
      <soap:operation soapAction="http://tempuri.org/IWrapperAuthorizationPoliciesService/CreateAutomaticQuotaAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WrapperAuthorizationPoliciesService">
    <wsdl:port name="basicEndpoint" binding="tns:basicEndpoint">
      <soap:address location="http://localhost:1001/External/WrapperAuthorizationPoliciesService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IWrapperAuthorizationPoliciesService" binding="tns:BasicHttpBinding_IWrapperAuthorizationPoliciesService">
      <soap:address location="http://localhost:1001/WrapperAuthorizationPoliciesService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>