Company/Source/Services/Windows/Sistran.ConsumerQueeListRisk/ApplicationServer/Service References/QueueBrokerService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateFasecoldaCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessCollection" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFasecoldaCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFasecoldaValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessCollection" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFasecoldaValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateListRisk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessCollection" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateListRiskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateListRiskOfac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessCollection" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateListRiskOfacResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordListRisk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessCollection" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordListRiskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordListRiskOfac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessCollection" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordListRiskOfacResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>