Company/Source/Services/Windows/Sistran.ConsumerQueeListRisk/ApplicationServer/Service References/QueueBrokerService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QueueBrokerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQueueBrokerService_CreateFasecoldaCode_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFasecoldaCode" />
  </wsdl:message>
  <wsdl:message name="IQueueBrokerService_CreateFasecoldaCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFasecoldaCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IQueueBrokerService_CreateFasecoldaValue_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFasecoldaValue" />
  </wsdl:message>
  <wsdl:message name="IQueueBrokerService_CreateFasecoldaValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFasecoldaValueResponse" />
  </wsdl:message>
  <wsdl:message name="IQueueBrokerService_CreateListRisk_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateListRisk" />
  </wsdl:message>
  <wsdl:message name="IQueueBrokerService_CreateListRisk_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateListRiskResponse" />
  </wsdl:message>
  <wsdl:message name="IQueueBrokerService_CreateListRiskOfac_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateListRiskOfac" />
  </wsdl:message>
  <wsdl:message name="IQueueBrokerService_CreateListRiskOfac_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateListRiskOfacResponse" />
  </wsdl:message>
  <wsdl:message name="IQueueBrokerService_RecordListRisk_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordListRisk" />
  </wsdl:message>
  <wsdl:message name="IQueueBrokerService_RecordListRisk_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordListRiskResponse" />
  </wsdl:message>
  <wsdl:message name="IQueueBrokerService_RecordListRiskOfac_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordListRiskOfac" />
  </wsdl:message>
  <wsdl:message name="IQueueBrokerService_RecordListRiskOfac_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordListRiskOfacResponse" />
  </wsdl:message>
  <wsdl:portType name="IQueueBrokerService">
    <wsdl:operation name="CreateFasecoldaCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueueBrokerService/CreateFasecoldaCode" message="tns:IQueueBrokerService_CreateFasecoldaCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueBrokerService/CreateFasecoldaCodeResponse" message="tns:IQueueBrokerService_CreateFasecoldaCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFasecoldaValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueueBrokerService/CreateFasecoldaValue" message="tns:IQueueBrokerService_CreateFasecoldaValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueBrokerService/CreateFasecoldaValueResponse" message="tns:IQueueBrokerService_CreateFasecoldaValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateListRisk">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueueBrokerService/CreateListRisk" message="tns:IQueueBrokerService_CreateListRisk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueBrokerService/CreateListRiskResponse" message="tns:IQueueBrokerService_CreateListRisk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateListRiskOfac">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueueBrokerService/CreateListRiskOfac" message="tns:IQueueBrokerService_CreateListRiskOfac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueBrokerService/CreateListRiskOfacResponse" message="tns:IQueueBrokerService_CreateListRiskOfac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordListRisk">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueueBrokerService/RecordListRisk" message="tns:IQueueBrokerService_RecordListRisk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueBrokerService/RecordListRiskResponse" message="tns:IQueueBrokerService_RecordListRisk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordListRiskOfac">
      <wsdl:input wsaw:Action="http://tempuri.org/IQueueBrokerService/RecordListRiskOfac" message="tns:IQueueBrokerService_RecordListRiskOfac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQueueBrokerService/RecordListRiskOfacResponse" message="tns:IQueueBrokerService_RecordListRiskOfac_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicEndpoint" type="tns:IQueueBrokerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateFasecoldaCode">
      <soap:operation soapAction="http://tempuri.org/IQueueBrokerService/CreateFasecoldaCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFasecoldaValue">
      <soap:operation soapAction="http://tempuri.org/IQueueBrokerService/CreateFasecoldaValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateListRisk">
      <soap:operation soapAction="http://tempuri.org/IQueueBrokerService/CreateListRisk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateListRiskOfac">
      <soap:operation soapAction="http://tempuri.org/IQueueBrokerService/CreateListRiskOfac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordListRisk">
      <soap:operation soapAction="http://tempuri.org/IQueueBrokerService/RecordListRisk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordListRiskOfac">
      <soap:operation soapAction="http://tempuri.org/IQueueBrokerService/RecordListRiskOfac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IQueueBrokerService" type="tns:IQueueBrokerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateFasecoldaCode">
      <soap:operation soapAction="http://tempuri.org/IQueueBrokerService/CreateFasecoldaCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFasecoldaValue">
      <soap:operation soapAction="http://tempuri.org/IQueueBrokerService/CreateFasecoldaValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateListRisk">
      <soap:operation soapAction="http://tempuri.org/IQueueBrokerService/CreateListRisk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateListRiskOfac">
      <soap:operation soapAction="http://tempuri.org/IQueueBrokerService/CreateListRiskOfac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordListRisk">
      <soap:operation soapAction="http://tempuri.org/IQueueBrokerService/RecordListRisk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordListRiskOfac">
      <soap:operation soapAction="http://tempuri.org/IQueueBrokerService/RecordListRiskOfac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueueBrokerService">
    <wsdl:port name="basicEndpoint" binding="tns:basicEndpoint">
      <soap:address location="http://localhost:1001/External/QueueBrokerService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IQueueBrokerService" binding="tns:BasicHttpBinding_IQueueBrokerService">
      <soap:address location="http://localhost:1001/QueueBrokerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>