Company/Source/FullWebServices/Services/FullServices/Models/XSD/Request/RequestSearch.xsd

<schema
  xmlns="http://www.w3.org/2001/XMLSchema"    
  xmlns:Req='uri:ace-ina.com:schemas:request'
	targetNamespace = 'uri:ace-ina.com:schemas:request'
	elementFormDefault='qualified'>   

  <complexType name="ResquestSearch">
    <sequence>
      <element name="cod_rol" type="string" />
      <element name="idRol" type="int" nillable="true"  />
      <element name="tipo_doc" type="int" nillable="true"  />
      <element name="nro_documento" type="string"  />
      <element name="name" type="string" />
      <element name="ID_user" type="string" />      
    </sequence>
  </complexType>


</schema>