Company/Source/Services/Windows/Sistran.ConsumerQueeListRisksCache/ConsumerQueue/Service References/WrapperServiceWCF/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WrapperService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://microsoft.com/wsdl/types/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWrapperService_QuoteVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:QuoteVehicle" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_QuoteVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuoteVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_Quotate_InputMessage">
    <wsdl:part name="parameters" element="tns:Quotate" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_Quotate_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuotateResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_CreateQuotation_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuotation" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_CreateQuotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_CreatePolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePolicy" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_CreatePolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_QuotateMassive_InputMessage">
    <wsdl:part name="parameters" element="tns:QuotateMassive" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_QuotateMassive_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuotateMassiveResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_GetNodeRulSet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeRulSet" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_GetNodeRulSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeRulSetResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_GetVersionHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionHistory" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_GetVersionHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_GetCacheStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheStatus" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_GetCacheStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_loadCacheByJson_InputMessage">
    <wsdl:part name="parameters" element="tns:loadCacheByJson" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_loadCacheByJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:loadCacheByJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_AuditData_InputMessage">
    <wsdl:part name="parameters" element="tns:AuditData" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_AuditData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuditDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_ReloadListRisksCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadListRisksCache" />
  </wsdl:message>
  <wsdl:message name="IWrapperService_ReloadListRisksCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadListRisksCacheResponse" />
  </wsdl:message>
  <wsdl:portType name="IWrapperService">
    <wsdl:operation name="QuoteVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperService/QuoteVehicle" message="tns:IWrapperService_QuoteVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperService/QuoteVehicleResponse" message="tns:IWrapperService_QuoteVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Quotate">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperService/Quotate" message="tns:IWrapperService_Quotate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperService/QuotateResponse" message="tns:IWrapperService_Quotate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateQuotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperService/CreateQuotation" message="tns:IWrapperService_CreateQuotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperService/CreateQuotationResponse" message="tns:IWrapperService_CreateQuotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperService/CreatePolicy" message="tns:IWrapperService_CreatePolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperService/CreatePolicyResponse" message="tns:IWrapperService_CreatePolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuotateMassive">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperService/QuotateMassive" message="tns:IWrapperService_QuotateMassive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperService/QuotateMassiveResponse" message="tns:IWrapperService_QuotateMassive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNodeRulSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperService/GetNodeRulSet" message="tns:IWrapperService_GetNodeRulSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperService/GetNodeRulSetResponse" message="tns:IWrapperService_GetNodeRulSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperService/GetVersionHistory" message="tns:IWrapperService_GetVersionHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperService/GetVersionHistoryResponse" message="tns:IWrapperService_GetVersionHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCacheStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperService/GetCacheStatus" message="tns:IWrapperService_GetCacheStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperService/GetCacheStatusResponse" message="tns:IWrapperService_GetCacheStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loadCacheByJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperService/loadCacheByJson" message="tns:IWrapperService_loadCacheByJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperService/loadCacheByJsonResponse" message="tns:IWrapperService_loadCacheByJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuditData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperService/AuditData" message="tns:IWrapperService_AuditData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperService/AuditDataResponse" message="tns:IWrapperService_AuditData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadListRisksCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IWrapperService/ReloadListRisksCache" message="tns:IWrapperService_ReloadListRisksCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWrapperService/ReloadListRisksCacheResponse" message="tns:IWrapperService_ReloadListRisksCache_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWrapperService" type="tns:IWrapperService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QuoteVehicle">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/QuoteVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Quotate">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/Quotate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateQuotation">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/CreateQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePolicy">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/CreatePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuotateMassive">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/QuotateMassive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNodeRulSet">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/GetNodeRulSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionHistory">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/GetVersionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCacheStatus">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/GetCacheStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadCacheByJson">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/loadCacheByJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuditData">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/AuditData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadListRisksCache">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/ReloadListRisksCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IWrapperService1" type="tns:IWrapperService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QuoteVehicle">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/QuoteVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Quotate">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/Quotate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateQuotation">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/CreateQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePolicy">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/CreatePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuotateMassive">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/QuotateMassive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNodeRulSet">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/GetNodeRulSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionHistory">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/GetVersionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCacheStatus">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/GetCacheStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadCacheByJson">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/loadCacheByJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuditData">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/AuditData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadListRisksCache">
      <soap:operation soapAction="http://tempuri.org/IWrapperService/ReloadListRisksCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WrapperService">
    <wsdl:port name="BasicHttpBinding_IWrapperService" binding="tns:BasicHttpBinding_IWrapperService">
      <soap:address location="http://localhost:1001/External/WrapperService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IWrapperService1" binding="tns:BasicHttpBinding_IWrapperService1">
      <soap:address location="http://localhost:1001/WrapperService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>